@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
* {
  font-family: "Teko", sans-serif;
  margin: 0;
}
body {
  margin: 0;
  background-color: black;
}
nav h1 {
  color: white;
  font-size: 4em;
  font-family: "Teko", sans-serif;
  font-weight: 700;
  margin: 0;
  text-align: center;
}
nav h1 span {
  color: aquamarine;
}
.one {
  height: 100vh;
}
.projects {
  /* border: 1px solid aquamarine; */
  padding: 20px;
  height: 70%;
  margin: 10px;
}
nav {
  border-bottom: 1px solid aquamarine;
}
.projects h2 {
  color: white;
  text-decoration: underline;
  font-size: 2em;
}
.projectsHolder {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  padding: 20px;
}
.project {
  border: 1px solid aquamarine;
  width: min-content;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: baseline;
  height: 100%;
  padding: 20px;
}
.project img {
  width: 300px;
  height: 150px;
}
.projectTitle {
  color: white;
}
.projectDescription {
  color: white;
}
